h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

body {
    color: cornsilk;
    text-align: left;
    background: url(../images/Edited\ beach\ milky\ way.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card {
    background: transparent;
    font-size: 1.7rem;
}

.unify {
    text-align: center;
    padding-bottom: 3rem;
}