html {
  height: 100%;
}

body {
  color: #6B7A8F;
  margin: 0;
  min-height: 100%;
  grid-template: auto 1fr auto / auto 1fr auto;
  background: url(/images/karsten-bg.webp) center center no-repeat;
  background-size: cover;
  background-color: rgba(211, 185, 148, 1);
  background-blend-mode: overlay;
}


header {
  grid-column: 1 / 4;
}
header > h1 {
  margin: 0 auto;
}

.left-sidebar {
  grid-column: 1 / 2;
  max-width: 28rem;
  color: black;
  font-weight: 600;
  line-height: 1.6rem;
}

.left-sidebar > img {
  padding: 0 1rem 1rem 0;
  height: 12rem;
  width: auto;
  float: left;
}

.left-sidebar a {
  color: #4D5766;
  text-decoration: none;
}

main#game-container {
  min-height: 100vw;
  grid-column: 2 / 4;
  border: 2px solid #F7882F;
  border-radius: 4px;
  background-color: rgba(247, 195, 49, .2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tile {
  cursor: pointer;
  width: calc((100% - 4rem) / 3);
  height: calc((100% - 4rem) / 3);
  border: 2px solid #F7882F;
  font-size: 6rem;
  position: relative;
  padding: calc((100vw - 8rem) / 6) 0;
}

.tile:not(.empty) {
  background-color: #F7882F;
}

.tile > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -135%);
}

footer {
  grid-column: 1 / 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

.center {
  text-align: center;
}

.p1 {
  padding: 1rem;
}

.m1 {
  margin: 1rem;
}

div#notification {
  display: none;
  text-align: center;
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
  position: fixed;
  top: 0;
  padding: 1.5rem;
  width: 100vw;
  background-color: #A2C02E;
  z-index: 999;
}

@media only screen and (min-width: 1024px) {
  body {
    display: grid;
  }

  main#game-container {
    min-height: 0;
  }
  .tile {
    padding: 0;
  }
}

